.header {
  max-width: 880px;
  margin: 0 auto 40px;
  padding: 45px 0 0;
  border-bottom: 1px solid #545454;
  opacity: 0.7;
}

.header__logo {
  max-width: 173px;
  width: 100%;
  margin: 0 0 41px;
  color: #fff;
}

@media screen and (max-width: 950px) {
  .header {
    max-width: 720px;
  }
}

@media screen and (max-width: 750px) {
  .header {
    max-width: 320px;
    padding-top: 28px;
  }

  .header__logo {
    max-width: 126px;
    margin-bottom: 32px;
    margin-left: 27px;
  }
}
