.popup {
  display: none;
  position: fixed;
  inset: 0;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.popup__image_opened {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: start;
}

.popup__image {
  width: 100%;
  height: 100%;
  max-width: 75vw;
  max-height: 75vh;
}

.popup__paragraph {
  position: absolute;
  bottom: -25px;
  left: 0;
  margin: 0;
}

.popup_opened {
  display: flex;
}

.popup__content {
  background: white;
  border-radius: 10px;
  box-sizing: border-box;
  width: 430px;
  height: 330px;
  padding: 34px 36px 36px;
  position: relative;
  top: 195px;
}

.popup__content-image {
  position: relative;
}

.popup__title {
  color: #000;
  font-size: 24px;
  font-weight: 900;
  margin: 0 24px 54px 0;
}

.popup__form {
  display: flex;
  flex-direction: column;
}

.popup__label {
  color: #000;
}

.popup__input {
  margin: 0 0 29px;
  padding: 0 0 13px;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 14px;
}

.popup__save-button {
  padding: 13.66px 124px 18.49px 125px;
  background-color: #000;
  color: white;
  border: none;
  cursor: pointer;
  margin: 9px 0 0;
  font-size: 18px;
  line-height: 1.1;
}

.popup__save-button:hover {
  opacity: 0.5;
}

.popup__button {
  position: absolute;
  top: -40px;
  left: 430px;
  background: none;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 0;
}

.popup__button-image {
  position: absolute;
  top: -40px;
  right: -40px;
  background: none;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 0;
}

.popup__button:hover {
  opacity: 0.5;
}

.popup__close-button {
  width: 100%;
}

@media screen and (max-width: 750px) {
  .popup {
    box-shadow: 0px 0px 25px 0px #00000026;
  }

  .popup__content {
    padding: 25px 22px;
    width: 282px;
    height: 322px;
  }

  .popup__title {
    font-size: 22px;
    margin-bottom: 76px;
  }

  .popup__input {
    padding-bottom: 9px;
  }

  .popup__save-button {
    margin-top: 7px;
    padding: 14px 96px;
    font-size: 14px;
  }

  .popup__button {
    top: -40px;
    left: 250px;
    width: 26px;
    height: 26px;
  }

  .popup__paragraph {
    left: 20px;
  }

  .popup__image {
    max-width: 240px;
    max-height: 299px;
  }

  .popup__button-image {
    top: -30px;
    right: -30px;
    width: 26px;
    height: 26px;
  }
}
