@import url("../vendor/normalize.css");

@import url("../vendor/fonts.css");

@import url("../blocks/page.css");

@import url("../blocks/header.css");

@import url("../blocks/profile.css");

@import url("../blocks/popup.css");

@import url("../blocks/elements.css");

@import url("../blocks/footer.css");

/* .page {
  background-color: #000;
  box-sizing: border-box;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  max-width: 1280px;
  width: 100%;
  font-family: "Inter", Arial, sans-serif;
}

.header {
  max-width: 880px;
  margin: 0 auto 40px;
  padding: 45px 0 0;
  border-bottom: 1px solid #545454;
  opacity: 0.7;
}

.header__logo {
  max-width: 173px;
  width: 100%;
  margin: 0 0 41px;
  color: #fff;
}

.profile {
  max-width: 880px;
  max-height: 120px;
  margin: 0 auto 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile__img {
  max-width: 120px;
  max-height: 120px;
  width: 100%;
  margin: 0 30px 0 0;
}

.profile__info {
  max-width: 415px;
  max-height: 77px;
  display: grid;
  grid-template-areas:
    "name button"
    "about .";
  gap: 16px 18px;
  margin: 0 165px 0 0;
}

.profile__name {
  grid-area: name;
  margin: 0;
  font-size: 42px;
  line-height: 1.1;
  font-weight: 500;
}

.profile__about {
  grid-area: about;
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
}

.profile__edit {
  grid-area: button;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 1px solid #ffffff;
}

.profile__edit-btn {
  width: 10px;
  height: 10px;
}

.profile__add {
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: 2px solid #ffffff;
}

.profile__add-btn {
  width: 22px;
  height: 22px;
}

.elements {
  max-width: 880px;
  margin: 0 auto 67px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 17px;
}

.elements__post {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 282px;
}

.elements__photo {
  max-width: 282px;
  width: 100%;
}

.elements__container {
  background-color: #fff;
  color: #000;
  margin: 0;
  max-width: 282px;
  max-height: 79px;
  display: flex;
  justify-content: space-between;
  padding: 25px 15px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.elements__text {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
}

.elements__button {
  border: none;
  background-color: transparent;
}

.footer {
  max-width: 880px;
  padding: 0 0 60px;
  margin: 0 auto;
}

.footer__copyright {
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
  color: #545454;
}

@media screen and (max-width: 950px) {
  .header {
    max-width: 720px;
  }

  .profile {
    max-width: 720px;
  }

  .profile__img {
    margin-right: 0;
  }

  .profile__info {
    margin-right: 50px;
  }

  .profile__add {
    width: 17%;
  }

  .elements {
    grid-template-columns: repeat(2, 1fr);
    max-width: 581px;
  }

  .footer {
    max-width: 720px;
  }
}

@media screen and (max-width: 750px) {
  .header {
    max-width: 320px;
    padding-top: 28px;
  }

  .header__logo {
    max-width: 126px;
    margin-bottom: 32px;
    margin-left: 27px;
  }

  .profile {
    max-width: 282px;
    max-height: 286px;
    flex-direction: column;
  }

  .profile__img {
    margin-bottom: 30px;
  }

  .profile__info {
    max-width: 282px;
    margin-right: 0;
    margin-bottom: 36px;
    grid-gap: 10px 14px;
    text-align: center;
  }

  .profile__name {
    font-size: 22px;
  }

  .profile__about {
    font-size: 14px;
  }

  .profile__add {
    width: 282px;
    height: 50px;
    padding: 17px 133px;
    margin-bottom: 36px;
  }

  .profile__add-btn {
    width: 16px;
    height: 16px;
  }

  .elements {
    grid-template-columns: repeat(1, 1fr);
    max-width: 282px;
    margin-bottom: 50px;
  }

  .footer {
    max-width: 282px;
    padding-bottom: 36px;
  }

  .footer__copyright {
    font-size: 14px;
  }
} */
